.box { 
  width: 100%;
  height: 600px;
}

.products {
  height: 60vh;
  background-image: url("../../images/box-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}